.product-list {
  background-image: url(https://res.cloudinary.com/dfofaipbl/image/upload/v1710437735/flipped-skateboard-on-road-at-sunset-skater-aesthetic-2qs1ry3055kpruh3_a5o6hq.jpg);
  background-size: cover;
  height: 50rem;
}

.product-list h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}

.product-list h3 {
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
}
